*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 150%;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  max-width: 100%;
  padding-inline: 1.5rem;
  margin-inline: auto; //텍스트 가운데로 정렬//
  text-align: center;
}

.header {
  display: flex;
  padding-inline: 0;
  margin-bottom: 40px;
  background-color: black;

  & p {
    a:link {
      color: white;
    }

    a:visited {
      color: white;
    }

    a:hover {
      color: black;
    }

    margin-inline: 10px;
    margin-bottom: 0;
    color: white;
  }
}

.main-archive {
  max-width: 100%;
  padding: 20px;
  margin: auto;
}

.slider {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  background-color: aqua;
}

.card {
  box-sizing: border-box;
  padding: 0;
  padding-inline: 40px;
  margin: 0;
  margin-inline: auto;

  & h5 {
    margin: 0;
    text-align: left;
  }

  & p {
    font-size: smaller;
    text-align: left;
  }

  figure {
    position: relative;
    margin: 20px 0;
    overflow: hidden;
  }

  img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgb(0 0 0 / 11.9%);
  }

  &:hover {
    transition: all 200ms ease-out;
    transform: scale(1.05);
  }
}

.container-P {
  font-weight: bold;
  color: #818181;
  text-align: left;
  background-color: #fafaf5;
}

.container-B {
  font-weight: bolder;
  color: #818181;
  text-align: left;
  background-color: #fafaf5;

  & p {
    padding-inline: 10px;
    margin-inline: auto;
    text-align: left;
  }
}
